/* Hace el fondo transparente para usar nuestra propia imagen */
.nike-content {
  --background: transparent;
  position: relative;

}
.center-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

/* Imagen de fondo */
.background-image {
  background: url('/assets/fondo-login.png') center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

/* Capa oscura para mejorar contraste */
.background-overlay {
  background: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Cuadro blanco estilo Nike */
.login-container {
  --background: transparent;
  width: 85%;
  max-width: 380px;
  padding: 40px 28px;
  border-radius: 26px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
  text-align: center;
  animation: fadeIn 0.8s ease;
}

/* Avatar */
.avatar-login {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
  animation: float 3s ease-in-out infinite;
}

/* Títulos Nike */
.login-title {
  font-size: 28px;
  font-weight: 800;
  color: #fbfafa;
  margin: 0;
}

.login-sub {
  font-size: 15px;
  color: #f6f2f2;
  margin-top: 6px;
  margin-bottom: 28px;
}

/* Inputs estilo Nike */
.nike-input {
  --background: #f6f6f6;
  border-radius: 14px;
  margin-bottom: 15px;
  padding: 4px 10px;
  --highlight-color-focused: #ffca28;
}

ion-input {
  padding: 10px 6px;
  font-size: 15px;
}

/* Botón tipo Nike */
.nike-button {
  margin-top: 10px;
  --background: #ffca28;
  --background-activated: #ffb300;
  --background-focused: #ffb300;
  --border-radius: 14px;
  font-weight: 700;
  height: 48px;
}

/* Footer */
.login-footer {
  margin-top: 18px;
  font-size: 14px;
  color: #f8f5f5;
}

.link {
  color: #ffca28;
  font-weight: 700;
  cursor: pointer;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animación flotante del avatar */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
