<ion-content>

  <!-- HEADER ESTILO NIKE -->
  <div class="header-nike">
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1 class="header-title">Agenda tu Clase</h1>
      <p class="header-sub">Reserva la clase disponible</p>
    </div>
  </div>

  <!-- FILTRO POR ENTRENADOR -->
  <div class="filter-container">
    <ion-item>
      <ion-label>Filtrar por Entrenador</ion-label>
      <ion-select
        placeholder="Selecciona entrenador"
        [(ngModel)]="selectedEntrenador">
        <ion-select-option
          *ngFor="let entrenador of entrenadores"
          [value]="entrenador.id" >
          {{ entrenador.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>


  <!-- <div class="back-container">
  <ion-button fill="clear" (click)="volver()">
    <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
    Volver
  </ion-button>
</div> -->

</ion-content>

  <!-- MODAL -->